@page "/"

@using System.Net.Http
@using Newtonsoft.Json
@using System.Collections.Generic

<h2>Holiday List</h2>
<h3>Only takes holidays from from 2022</h3>
<div class="form-group">
    <label for="dateInput">Enter a date (e.g., "12-09-2022""):</label>
    <input type="text" id="dateInput" class="form-control" @bind="selectedDate" placeholder="dd-MM-yyyy">
</div>

    <div>
        <input type="radio" id="option2" name="radiogroup" value="0" @oninput="() => SetPropertyValue(0)" />
        <label for="option2">Set to 0</label><br />

        <input type="radio" id="option1" name="radiogroup" value="1" @oninput="() => SetPropertyValue(1)" />
        <label for="option1">Set to 1</label><br />
    </div>

@if (!Loading)
{

    @if (!string.IsNullOrWhiteSpace(selectedDate))
    {
        <h4>Holidays for the week of @selectedDate</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Holiday?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Weekday in GetWeekDays())
                {
                    <tr>
                        <td>@Weekday.Date?.ToString("dd-MM-yyyy")</td>
                        <td>@Weekday.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Enter a valid date to view holidays for the week.</p>
    }


    <h3>Add new birthday</h3>
    <div class="form-group">
        <label for="nameInput">Enter a name:</label>
        <input type="text" id="nameInput" class="form-control" @bind="NewBirthdayName">
    </div>

    <div class="form-group">
        <label for="dateInput">Enter a date (e.g., "12-09-2022"): </label>
        <input type="text" id="dateInput" class="form-control" @bind="NewBirthdayDate" placeholder="dd-MM-yyyy">
    </div>

    <button class="btn btn-primary" @onclick="AddBirthday">Add Birthday</button>


    <h4>Holidays by Month</h4>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Holidays</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in GroupedHolidays)
            {
                <tr>
                    <td>@group.Key</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var holiday in group.Value) 
                                {
                                    <tr>
                                        <td>@holiday.Date?.ToShortDateString()</td>
                                        <td>@GetTranslatedHolidayName(holiday.Name)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
        </table>
}
else
{
    <h3>Loading</h3>
}

